//- includes/header.pug

//- edit.pug
doctype html
html
    include ../includes/header.pug
 
    body
        h1 Edit !{blog.title}
        div.newBlog
            div.newBlog__toolbar
                select.newBlog__dropdown.newBlog__dropdown--style
                    option(value='paragraph') Paragraph
                    option(value='h1') h1
                    option(value='h2') h2
                    option(value='h3') h3
                    option(value='h4') h4
                    option(value='h6') h6
                button.newBlog__button.newBlog__button--bold bold
                button.newBlog__button.newBlog__button--italic italics
                button.newBlog__button.newBlog__button--list list
                button.newBlog__button.newBlog__button--numList numbered list
                button.newBlog__button.newBlog__button--quote blockquote
                button.newBlog__button.newBlog__button--lJustify left justify
                button.newBlog__button.newBlog__button--cJustify center justify
                button.newBlog__button.newBlog__button--rJustify right justify
                button.newBlog__button.newBlog__button--link hyperlink
                button.newBlog__button.newBlog__button--image image

            form(action='/blog/'+blog.title+'?_method=PUT' method='POST' label='new blog form').newBlog__form
                p title 
                input(name='blog[title]' required='true' value=blog.title)
                p body
                textarea(rows='10' cols='100' wrap='hard' name='blog[content]' required='true').newBlog__form.newBlog__form--content !{blog.content}
                p tags (seperate tags with a comma)
                input(name='blog[tags]' value=blog.tags)
                button.newBlog__button.newBlog__button--submit Submit
            button.newBlog__button.newBlog__button--preview Preview
            div.newBlog__preview
                h2 preview.title
                div.newBlog__preview--content
                    p preview.content

        include ../includes/newBlogFooter.pug