//- index.pug
doctype html
html
    include ../includes/header.pug
 
    body
        h1 BionicProse Index page
        p stuff will go here, and it'll eventually be styled

        dl
            each val in blogs
               li: a(href='/blog/'+val.title) !{val.title}</a>
                    dt=val.postDate


        include ../includes/footer.pug