extends ../includes/layout.pug


    

block content


    


    h1 Bionic Prose Editor

    div.editor
        div.editor__toolbar
            a(href='#' data-command='h2') 
                |h2
            button.i.fa.fa-undo.fa-3x(onclick="document.execCommand('undo', false, null);")
            button.i.fa.fa-align-left.fa-3x(onclick="document.execCommand('justifyLeft', false, null);")
            button.i.fa.fa-align-right.fa-3x(onclick="document.execCommand('justifyRight', false, null);")
            button.i.fa.fa-align-center.fa-3x(onclick="document.execCommand('justifyCenter', false, null);")
            button.i.fa.fa-bold.fa-3x(onclick="document.execCommand('bold', false, '');")
            button.i.fa.fa-italic.fa-3x(onclick="document.execCommand('italic', false, null);")
            button.i.fa.fa-superscript.fa-3x(onclick="document.execCommand('superscript', false, null);")
            button.i.fa.fa-picture-o.fa-3x(onclick="document.execCommand('insertImage', false, null);")
            button.i.fa.fa-underline.fa-3x(onclick="document.execCommand('underline', false, null);")
            button.i.fa.fa-strikethrough.fa-3x(onclick="document.execCommand('strikeThrough', false, null);")
            button.i.fa.fa-redo.fa-3x(onclick="document.execCommand('redo', false, null);")
            button.i.fa.fa-undo.fa-3x(onclick="document.execCommand('undo', false, null);")
            button.i.fa.fa-indent.fa-3x(onclick="document.execCommand('indent', false, null);")
            button.i.fa.fa-list.fa-3x(onclick="document.execCommand('insertUnorderedList', false, null);")
            button.i.fa.fa-link.fa-3x(onclick="link()")

            button.hiya(onclick='yo()') Hi!

            button.ohyeah(onclick='yoyo()') yo!


        form.editor(action='/blog' method='POST' onsubmit='return copyContent()')
            div.editor__title
                p Title
                input(type='text' name='title')
            textarea.editor__textarea--hidden(type='html' name='content')
            div.editor__textarea(contenteditable='true')
                p some content
            div.editor__tags
                p Tags
                input.editor__tags--input(type='text' name='tags')
            button.editor__button__publish(type='submit' name='state' value='publish') Publish
            button.editor__button__save(type='submit' name='state' value='draft') Save
    block append footer
       
        script(src='../../javascript/editor.js') 
        //- script(type='text/javascript').
        //-     $(function() {
        //-         document.execCommand("defaultParagraphSeparator", false, "p");
        //-     })