extends ../includes/layout-edit.pug


    

block content

    div(class='imageVar' data-imageVariable = images)
    div(class='userVar' data-userVariable = user.id)
    

    div.editor
        h1 new blog post

        form.editor(action='/blog' method='POST' enctype='multipart/form-data' onsubmit='return copyContent()')
            div.editor__title
                h3:label(for='title') Title:
                input(type='text' id='title' name='title').input__title
            div.editor__content
                h3:label(for='body') Body:
                 
                div.editor__textarea(contenteditable='true' id='body' onclick="document.execCommand('defaultParagraphSeparator', false, 'p');")
                    if savedContent
                        |!{savedContent.content}
                    else
                        |some content
            div.editor__toolbar
                
                button.btn--controls.btn--h2(type='button' onclick='bolder()') h2
                i.fa.fa-undo.fa-3x(onclick='edit("undo")')
                i.fa.fa-redo.fa-3x(onclick='edit("redo")')
                i.fa.fa-align-left.fa-3x(onclick='edit("justifyLeft")')
                i.fa.fa-align-right.fa-3x(onclick='edit("justifyRight")')
                i.fa.fa-align-center.fa-3x(onclick='edit("justifyCenter")')
                i.fa.fa-bold.fa-3x(onclick='edit("bold")')
                i.fa.fa-italic.fa-3x(onclick='edit("italic")')
                i.fa.fa-superscript.fa-3x(onclick='edit("superscript")')
                i.far.fa-image.fa-3x(onclick='edit("insertImage")')
                i.fa.fa-underline.fa-3x(onclick='edit("underline")')
                i.fa.fa-strikethrough.fa-3x(onclick='edit("strikeThrough")')
                i.fa.fa-indent.fa-3x(onclick='edit("indent")')
                i.fa.fa-list.fa-3x(onclick='edit("insertUnorderedList")')
                i.fa.fa-list-ol.fa-3x(onclick='edit("insertOrderedList")')
                i.fa.fa-link.fa-3x(onclick="link()")
            
            div.editor__tags
                label(for='tags') Tags:
                input.editor__tags--input(id='tags' type='text' name='tags')



            div.editor__image-selection-controls
                h3 Select or Upload a Header Image
                button.btn--controls.btn__image-selector(type='button' onclick='imageSelector("new")') Select Image
                label.btn--controls.btn__image--upload(for='upload') Upload
                input.editor__image__input--upload.hidden(type='file' id='upload' name='image')
            div.blog__header__image__frame    
                div.blog__header__image
                    div.blog__title
                        |Your title        
            div.editor__image__toolbar
                
                div.image__mover
                    div.mover--header Move Image
                    button(type='button' onclick='move("up")').move--up.btn--controls: i.fas.fa-chevron-up
                    button(type='button' onclick='move("left")').move--left.btn--controls: i.fas.fa-chevron-left
                    button(type='button' onclick='move("right")').move--right.btn--controls: i.fas.fa-chevron-right
                    button(type='button' onclick='move("down")').move--down.btn--controls: i.fas.fa-chevron-down
                
                div.title__mover
                    div.mover--header Move Title
                    button(type='button' onclick='moveT("up")').move--up.btn--controls: i.fas.fa-chevron-up
                    button(type='button' onclick='moveT("left")').move--left.btn--controls: i.fas.fa-chevron-left
                    button(type='button' onclick='moveT("right")').move--righ.btn--controls: i.fas.fa-chevron-right
                    button(type='button' onclick='moveT("down")').move--down.btn--controls: i.fas.fa-chevron-down
                
                div.image__manip
                    button.tint.btn--controls(type='button' onclick='tinter()') Tint
                    div.image-size
                        div.image-size--up Image Size
                            i(type='button' onclick='size("up")').icon--controls.size--up.fas.fa-plus
                        div.image-size--down Image Size
                            i(type='button' onclick='size("down")').icon--controls.size--down.fas.fa-minus
                        
                div.text__manip
                    div(label for='color') Font Color
                        input(id='color' type='color' name='color' value='#ffffff' class='font__color')
                    div.font-size
                        div.font-size--up Font Size
                            i(type='button' onclick='fontManip("up")').icon--controls.size--up.fas.fa-plus
                        div.font-size--down Font Size
                            i(type='button' onclick='fontManip("down")').icon--controls.size--down.fas.fa-minus
                

            textarea.editor__textarea--hidden(type='html' name='content')
            input.hidden(type='text' name='positionX' class='blog__header-img__positionX--hidden')
            input(type='text' name='positionY').hidden.blog__header-img__positionY--hidden
            input(type='text' name='size').hidden.blog__header-img__size--hidden
            input(type='text' name='gradient').hidden.blog__header-img__gradient--hidden
            input(type='text' name='fontSize').hidden.blog__title__fontSize--hidden
            input(type='text' name='fontLeft').hidden.blog__title__fontLeft--hidden
            input(type='text' name='fontTop').hidden.blog__title__fontTop--hidden
            input(type='text' name='fontColor').hidden.blog__title__fontColor--hidden
            button.btn--general(type='submit' name='state' value='publish') Publish
            button.btn--general(type='submit' name='state' value='draft') Save

        

    
    block append footer
       
        script(src='../../javascript/newblog.js')
        script(src='../../javascript/global.js')