//- includes/head.pug
head
    title= title
    meta(charset='utf-8')
    meta(name='viweport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(type='text/css' rel='stylesheet' href='../stylesheets/stylesheet.css')