doctype html
html
    head
        block head
            title= blog.title
            meta(charset='utf-8')
            meta(name='viweport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
            link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
            link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Megrim" rel="stylesheet") 
            link(id='bpStyles' type='text/css' rel='stylesheet' href='../../stylesheets/main.css')
   


    body   
        div.nav
            div.nav__banner
                img(src='../img/bionicwriter-1900-c.png')
            div.nav__menu
                div.nav__menu__item--1
                    a(href='/') Home
                div.nav__menu__item--2
                    a(href='/about') About
                div.nav__menu__item--3
                    a(href='/projects') Projects
                div.nav__menu__item--4
                    a(href='/contact') Contact 
                if messages
                    if messages.error
                        div.messages__error
                            |#{messages.error}
                    if messages.info
                        div.messages__info
                            |#{messages.info}

                


                


      
         

    block content  
    block foot
        div.footer__links
            a(href='/') Home
            if currentUser
                a(href='/profile') Profile Page
                a(href='/logout') Logout
            else
                a(href='/login') Login
            a(href='acknowledgements') Acknowledgements
            p Copyright (c) BionicProse
        