doctype html
html
    head
        block head
            title= title
            meta(charset='utf-8')
            meta(name='viweport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
            link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
            link(href="https://fonts.googleapis.com/css?family=Amatic+SC|Audiowide|Codystar|Cutive+Mono|Diplomata+SC|Hi+Melody|IBM+Plex+Mono|Megrim|Space+Mono|Text+Me+One" rel="stylesheet") 
            link(id='bpStyles' type='text/css' rel='stylesheet' href='../../../stylesheets/main.css')

    //- var messages = getMessages()

    //- if messages.notify
    //-     each msg in messages.info
    //-         .info= msg
    //- if messages.uError
    //-     each msg in messages.uError
    //-         .uError= msg
    body    
        div.nav
            div.nav__banner
                img(src='../../../img/bionicwriter-1900-c.png')
            div.nav__menu
                div.nav__menu__item--1
                    a(href='/blog') Home
                div.nav__menu__item--2
                    a(href='/about') About
                div.nav__menu__item--3
                    a(href='/contact') Contact
                div.nav__menu__item--4
                    a(href='/login') Login

                


      
         

    block content  
    block foot
        