extends ../includes/layout-comment.pug
include ../includes/mixins.pug

block content
    div.bionicProse(data-blogs=blogs)
        
        div.comment__edit
            h1 Edit your comment for !{blog.title}
            form(method='POST' action='/blog/'+blog.url+'/comments/'+comment._id+'?_method=PUT').comment__edit__form
                textarea(rows='20' cols='100' name='comment[content]' required='true').comment__reply__textArea #{comment.content}
                button.comments__btn Submit
            
        +sideBar
    //- div(class='userVar' data-userVariable = user.id)
    block append footer
       
        script(src='../../../../javascript/search.js')
        script(src='../../../../javascript/global.js')

