extends ../includes/layout-comment.pug
block content
    h1 Add a comment for !{blog.title}
    div.comment
        form(method='POST' action='/blog/'+blog.url+'/comments/'+comment._id).comment.comment__form
            p Comment
            textarea(rows='10' cols='50' name='content' required='true')
            button.comment.comment__form__btn--submit Submit
            