//- views/local-connect.pug

include includes/header.pug
html
body
  
    
    h1 Create a local sign-in

     div.signup
            form(action='/connect/local', method='POST').signup__form
                p: label Username (this is how you'll be identified on this site):
                input(type='text' name='username')
                p: label Email:
                input(type='email' name='email')
                p: label Password
                input(type='password' name='password')
                p: button.signup__btn Signup!

include includes/footer.pug