extends includes/layout.pug

block content


    
    div.main
      
        div.main__content
            div.faster Faster
            div.stronger Stronger
            div.better Better
            p Writing for the 21st Century
    

