//- index.pug

include includes/header.pug
html
    body
        h1 Welcome to Bionic Prose
        p Login or Register with:
        a(href='/login') Local Login
        p: a(href='signup') Local Signup
        p: a(href='/auth/facebook'): button.login__button--facebook Login with Facebook
        p: a(href='/auth/twitter'): button.login__button--twitter Login with Twitter
        p: a(href='/auth/google'): button.login__button--google Login with Google
        
include includes/footer
