//- landingpage.pug
doctype html
html
    include ../includes/header.pug
 
    body
        h1 BionicProse Landing page
        p stuff will go here, and it'll eventually be style

        include ../includes/footer.pug