extends includes/layout-login.pug

block content
    div.login
        if(!currentUser)
            div.login__message
                |To leave a comment or reply, please login with Facebook, Google, or your Bionic Prose username and password:        
            p: a(href='/auth/facebook'): button.login__btn.login__btn--facebook Login with Facebook
            p: a(href='/auth/google'): button.login__btn.login__btn--google Login with Google
            
            form(action='/login', method='POST').signup__form
                div.local__signin
                    div.local__signin__email
                        label Email:
                    div.local__signin__email__input
                        input(type='text', name='username')
                    div.local__signin__password
                        label Password:
                    div.local__signin__password__input
                        input(type='password' name='password')
                    div.local__signin__submit
                        button.local__signin__btn Login
    block append footer
        script(src='../javascript/global.js')
      


