extends includes/layout-login.pug

block content
    div.login
        if(!currentUser)
            div.login__message
                |To leave a comment or reply, please login with Facebook or Google:        
            p: a(href='/auth/facebook'): button.login__btn.login__btn--facebook Login with Facebook
            p: a(href='/auth/google'): button.login__btn.login__btn--google Login with Google
            
    block append footer
        script(src='../javascript/global.js')
      


