extends includes/layout.pug
        
block content
    h1 Profile Page for 
        
       
    div.profile
        div.profile-pic
            img(src=user.pic[0]).profile-pic__img
            p: button.profile-pic__btn Choose Profile Picture
            
        div.user-data
            if(user.local.username)    
                p.user-data__item #[strong Username:] !{user.local.username}
            if(user.local.name)
                p.user-data__item #[strong Name:] !{user.local.name}
                p.user-data__item #[strong Email:] !{user.local.email}
        div.utility
            if(!user.local.username)
                p:a(href='/local-connect'): button.user-data__button--local-connect Set a Username and Password
            if !user.facebook.id
                p: a(href='/connect/facebook'): button.utility__btn__facebook--connect Connect Your Facebook Account
            if !user.twitter.id
                p: a(href='/connect/twitter'): button.utility__btn__twitter--connect Connect Your Twitter Account
            if !user.google.id
                p: a(href='/connect/google'): button.utility__btn__google--connect Connect Your Google Account
            a(href='/logout') Logout

    div.profile__blog-posts
        p coming soon

    div.profile__blog-comments
        p comming soon
    include includes/footer.pug