//-- signup.pug

include includes/header.pug
html
    body
        h1 Signup to BionicProse
        
        

        div.signup
            form(action='/signup', method='POST').signup__form
                p: label Username:
                input(type='text' name='username')
                p: label Email:
                input(type='email' name='email')
                p: label Password
                input(type='password' name='password')
                p: button.signup__btn Signup!

    p Already have an account? 
    a(href='/login') Login

include includes/footer.pug