.blog__index__post--first {
    grid-column: 2;
    grid-row: 1;
   
    max-width: 900px;
    width:100%;
    /* padding: 20px; */
    /* margin: 0 auto; */
    /* width: 1600px; */
    /* font-size: 2em; */
    /* grid-gap: 15px; */
    display: flex;
    flex-flow: column;
    color:#4d4d4d;
    font-family: 'IBM Plex Mono', monospace;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    box-shadow: 2px 2px 2px 2px #4d4d4d;
    margin-bottom: 4em;
    overflow: hidden;
    padding-bottom: 2em;
    background: #fff;
  
}
.bionicProse {
    display: grid;
    grid-template-columns:25% 57% 15%;
    grid-gap: 1%;
    margin: 0 auto;
}

/* .blog {
    max-width: 1200px;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
    /* max-width: 1600px; */
    /* margin: 0 0 0 20%; */
    /* margin-left: 30%; */
  /*  display: flex;
    flex-flow: column;
}
*/

.blog__image {
    /* grid-column: 1/1; */
    /* grid-row: 1; */
    width:100%;
    height:200px;
    /* height: 50px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}

.blog__text__title {
    text-align: center;
    /* position: absolute; */
    font-size: 2em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    font-family: 'Megrim', cursive;
    /* transform: translate(50%, 50%); */

    
}

.blog__text__title a{
    text-decoration: none;
    color: inherit;
    outline: 0;
}


.blog__body {
    
    padding-left: 10px;
    /* position: relative; */
    font-size: 2em;
    /* border-bottom: 5px ridge grey; */

}

.blog__hero-img {
    height: 400px; 
    width: 100%;
    /* width: 900px; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position: center; */
    position: relative;
    overflow:hidden;
    
    

} 


.blog__hero-text {
    font-family: 'Megrim', cursive;
    text-align: center;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
}

.blog__hero-text a{
    text-decoration: none;
    color: inherit;
    outline: 0;

}
.blog__tags {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20%;
    /* border-bottom: 1px solid grey; */
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 1%;
    font-size: 1.5em;
    background-color: #e5e7e7;
    /* font-family: "Megrim", cursive; */
}
.tags__btn a{
    
    text-decoration: none;
    /* color:#19706e;  */
    color:#0066ed;
    outline: 0;
     /* color: rgb(216, 167, 238);  */
}
.blog__tags--text {
    grid-row: 1/5;
    font-size: 1em; 
}
.tags__btn {
    color:#0066ed;
    outline: 0;
    cursor: pointer;
    /* font-size: .50em; */
    /* background-color: #cbcca1; */
    /* background-color: #113a39; */
    /* background-color: #231349; */
    background-color: #cccad1;
    /* padding: .25em; */
    text-align: center;
    margin: .25em;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px #868766;
     transition: all .2s ease-in-out; }

.tags__btn:hover, .tags__btn:focus           { transform: scale(1.5); }

.comments__link {
    text-align: center;
}

.comments__link a {
    text-decoration: none;
    outline: 0;
}
/* this is for the index page and posts not shown in full */

.blog__index{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    max-width: 900px;
    /* max-width: 870px; */
    /* margin: 0 auto; */
    padding: 5px;
    grid-gap: 3em;
    grid-template-columns: repeat(3, 1fr);
    color: #4d4d4d

}

.blog__index__post {
    background: #fff;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    text-overflow: ellipsis;
    /* min-width: 0; */
    /* padding: 20px; */
    max-width: 100%;
    /* margin: 10px; */
    font-family: 'IBM Plex Mono', monospace;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    box-shadow: 2px 2px 2px 2px #4d4d4d;
}

.blog__body__preview{
    overflow:hidden;
    position: relative;
    height: 12em;
    padding: 5px;
   
}


.blog__read-more {
    text-align: center;
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    /* margin-top: 5px; */
    /* grid-row: 4; */
    background:linear-gradient(to bottom, transparent, white);
}

.read-more__btn {
    font-family: 'Megrim', cursive;
    font-size: 2em;
    color: #0066ed;
    /* border: 1px solid #4d4d4d; */
    border: 1px solid #eeeeee;
    cursor: pointer;
    box-shadow: 1px 1px 1px #a39898;
}
button::-moz-focus-inner {
    border: 0;
}
.read-more__btn:hover, .read-more__btn:focus {
    background-color: #eeeeee;
    border: 1px solid  #0066ed;
}


.read-more__btn:active{
border: 1px solid #0066ed;
background-color: #aab5b8;
color: white;

}
.blog__edit {
    padding: 1%;
    background-color: rgb(183, 201, 204);
    display: flex;
    flex-flow: row;
}
.blog__read-more {
    text-align: center;
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    /* margin-top: 5px; */
    /* grid-row: 4; */
    background:linear-gradient(to bottom, transparent, white);
}

.read-more__btn {
    font-family: 'Megrim', cursive;
    font-size: 2em;
    color: #0066ed;
    /* border: 1px solid #4d4d4d; */
    border: 1px solid #eeeeee;
    cursor: pointer;
    box-shadow: 1px 1px 1px #a39898;
}
button::-moz-focus-inner {
    border: 0;
}
.read-more__btn:hover, .read-more__btn:focus {
    background-color: #eeeeee;
    border: 1px solid  #0066ed;
}


.read-more__btn:active{
    top: 1px;
border: 1px solid #0066ed;
background-color: #aab5b8;
color: white;

}

/************************/
/* comments */
/*************/
.comments__grid {
    display: grid;
    grid-template-columns: 15% 70% 10%;
    
    /* align-items: center; */
    /* grid-template-columns: 15% 70% 15%; */
    margin-top: 1em;
    border-bottom: 1px solid #e3e5e8;
}

.reply__grid {
    display: grid;
    grid-template-columns: 15% 70% 10%;
    margin-top: 1em;
    margin-left: 2em;
    padding: 1em;
    background-color: #e3e5e8;
   
}
.reply__entry {
    padding-left: 1em;
    background-color: #e3e5e8;
}

.comments__replyTo {
    height: 25px;
    font-size: 1.25em;
    color: black;
    border-bottom: 1px solid rgb(22, 36, 99);
    box-shadow: 0px 1px  0px rgb(123, 168, 211);
    /* rgb(19, 216, 216); */
    /* border-bottom: 1px solid rgb(19, 216, 216); */
    font-family: 'Megrim', cursive;
}
.comments__replyTo a{
    text-decoration: none;
    font-family: 'IBM Plex Monospace', monospace;
    font-size: 1.25em;
    color: rgb(25, 100, 119);
}
.comments__entry__author {
    
    display: flex;
    flex-flow: column;
    padding: 1em;
    font-size: 1.25em;
    /* grid-column: 1;
    grid-row: 1; */
    
}

.comments__entry__body {
    display:flex;
    flex-flow: column;
    /* display: flex;
    flex-flow: column; */
    padding: 1em;
    /* grid-column: 2; */
}
.comments__content {
    font-size: 1.5em;
}

.comments__buttons {

    flex: 1;
    /* grid-row: 1;
    grid-column: 3; */
}

.comments__entry__postDate {
    /* order: 4; */
  font-size: .75em;
    
}
.comments__entry__editDate {
    font-size: .75em;
    /* order: 5; */
}

.comments__btn {
    margin: 1em;
    cursor: pointer;
    color: #0066ed;
    /* color: rgb(12, 11, 63); */
    text-align: center;
    font-size: 1.5em;
    font-family: 'Megrim', cursive;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-size: 2em;
    border: 1px solid white;
    box-shadow: 1px 1px 1px rgb(95, 129, 224);
}
.comments__btn:active, button:focus {
    outline: 0;
    -moz-outline-style: none;
}

.comments__btn:hover, .comments__btn:focus {
    border: 1px solid black;
}
.comments__btn a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}



.comments__entry__author {
 
    display: flex;
    flex-flow: column;
    padding: 1em;
    font-size: 1.25em;
    /* grid-column: 1;
    grid-row: 1; */
    
}
.comments__entry__author img{
    max-width: 7em;
}

.comments__buttons {

    flex: 1;
    /* grid-row: 1;
    grid-column: 3; */
}

.comments__entry__postDate {
    /* order: 4; */
  font-size: .75em;
   
}
.comments__entry__editDate {
    font-size: .75em;
    /* order: 5; */
}

.comments__btn {
    margin: 1em;
    cursor: pointer;
    color: #0066ed;
    /* color: rgb(12, 11, 63); */
    text-align: center;
    font-size: 1.5em;
    font-family: 'Megrim', cursive;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-size: 2em;
    border: 1px solid white;
    box-shadow: 1px 1px 1px rgb(95, 129, 224);
}
.comments__btn:active, button:focus {
    outline: 0;
    -moz-outline-style: none;
}

.comments__btn:hover, .comments__btn:focus {
    border: 1px solid black;
}
.comments__btn a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

.comment__reply {
    padding-left: 2%;
}
.login {
    display: none;
}


.comment__reply__textArea {
    border: 1px solid black;
    width: 95%;
    height: 200px;
    font-size: 2em;
    overflow: auto;
}

/*** Social media ****/
.social__buttons {
    display: flex;
    flex-flow: row;
    padding-top: 1%;
    padding-left: 1%;
    /* padding-right: 1%; */
    background-color: rgb(214, 225, 228);
    padding-bottom: 1%;
}
.social__buttons * {
    padding-right: 1%;
}

/* calendar */

.selector__year {
    margin-bottom: 2%;
}
.calendar__btn {
    background: #fff;
    font-weight: bold;
}
.calendar__btn:hover {
    background-color: #dbdbcd;

}
.calendar__btn--left:active{
    border: none;
    box-shadow: 2px 2px 2px #868766;
    /* border: 1px solid black; */
    background-color: rgb(151, 148, 148);
    color: white;
}
.calendar__btn--right:active{
    border: none;
    box-shadow: -2px 2px 2px #868766;
    /* border: 1px solid black; */
    background-color: rgb(151, 148, 148);
    color: white;
}
/*.calendar__btn:active:nth-child(even) {
    border: none;
    box-shadow: 15px 2px 2px red;
    /* border: 1px solid black; /*
    background-color: rgb(151, 148, 148);
    color: white;
}*/
.selector__year, .selector__month {
    font-weight: bold;
    display:grid;
    grid-template-columns: 25% 50% 25%; 
}
.calendar__table {
    text-align: center;
    font-family: 'Megrim', Cursive;
}
.calendar__header {
    font-family: 'Megrim', Cursive;
}

.calendar {
    padding: 1%;
    max-width: 225px;
    font-family: 'Megrim', Cursive;
    text-align: center;
    background: #fff;
 /* padding: 10px;
margin: 5% 10%; */
 box-shadow: 1px 1px 1px 1px #868766;
}

.calendar__table {
    margin: 0 auto;
    /* border: 1px solid black; */
}

/* Tooltip container from w3 schools with some modifications */
.tooltip {
    position: relative;
    display: inline-block;
    
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #dfdfdf;
    color: #0066ed;
    text-align: left;
    padding: 10px;
    /* margin-left:10px; */
    border-radius: 6px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Megrim', Cursive;
    font-weight: bold;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltiptext a {
    text-decoration: none;
    color: inherit;
}

.tooltiptext a:hover {
    background: rgb(73, 177, 218);
    color: #fff;
}

.tooltiptext li {
    margin-left: 10px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*** sidebar ****/
.sidebar {
    align-items: left;
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    /* padding: 1%; */
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    /* margin-right: 15px; */
    /* justify-content: flex-start; */
}

.sidebar--left::before, .sidebar--left::after {
    content: '';
}
.sidebar--left {
    grid-column: 1;
    padding: 5px 0;
    /* background-color: #fff; */
    /* border: 1px solid black; */
}
/* search  */


.search {
    width: 225px;
    background: #fff;
    justify-content: center;
    /* padding: 10px; */
    margin: 0 0 10% 0;
    /* padding: 5%; */
    height: 75px;
    /* border: 1px solid #868766; */
    box-shadow: 1px 1px 1px 1px #868766;
}
.search__form {
    
    /* margin: 0 auto; */
    background:#fff;
}
.search__form input {
    margin: 2% 0% 0 15%;
}
.search__btn {
    margin: 2% 0 0 25%;
    background: #fff;
    font-size: 2em;
    font-family: 'Megrim', cursive;
    font-weight: bold;
}

.social {
    margin: 5% 0 0 0;
}
.searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    /* grid-template-rows: repeat(6, auto); */
    grid-gap: 2em;
    /* justify-content: center; */
    /* align-content: center; */
    /* width: 100%;
    margin: 0 auto; */
}
.search__terms {
    grid-row: auto / span 5;
}
/*****************/
.titleSettings {
    content: '';
    display:none;
}
.heroSettings {
    content: '';
    display:none;
}
/************ Media Queries   ****************/
@media( max-width: 1650px) {
    .bionicProse {
        grid-template-columns: 20% 62% 15%;
    }
    .blog__index {
        grid-gap: 1.5em;
    }
    /* .blog {
        grid-column: 1;
        margin: 0 0 0 10%;

    }
    .sidebar {
        grid-column: 2;
        margin: 0 auto;
    } */
}
@media (max-width: 1400px) {
    
    .bionicProse {
        grid-template-columns: 5% 70% 20%;
    }
}

@media (max-width: 1250px) {
    .sidebar--left {
        display:none;
    }
    .bionicProse {
        grid-template-columns:  75% 20%;
    }
    .blog__index__post--first {
        grid-column: 1;
    }

    .sidebar {
        grid-column: 2;
    }
    .blog__index {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-gap: 1em;
        margin: 0 auto;
        grid-column:1;
        grid-row: 2;
    }

}



@media only screen and (max-width: 1000px) {
    
    .bionicProse {
        display:flex;
        flex-flow: column;;
    }
    .blog__index__post--first {
        border:none;
        box-shadow: none;
    }
    .nav__menu--hamburger {
        display:block;
        
    }
    .nav__banner {
        background-image: url(../img/bionicwriter-50px.png), url(../img/chaos-bar.png);
        background-size: auto, cover;
        background-position: 0% 0%;
        background-repeat: no-repeat, no-repeat;
       
        height: 50px;
    }
    .nav__menu {
        padding-bottom: 0;
        width: 50%;
    }
    .nav__menu > div:not(.messages){
        display:none;

    }
    .messages {
        font-size: 1em;
    }
    
    .sidebar {
      display: none;
    
    }
    .blog__index {
        margin:0;
    }
   
   
}


@media only screen and (max-width: 800px) {
 
    .blog__hero-img {
        height:250px;
    }
    .comments__grid, .reply__grid {
        grid-template-columns: 20% 60% 15%;
    }
}

@media (-webkit-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width: 600px) {
   
    body {
        font-size: 10px;
    }
    .blog__hero-img {
        height:150px;
    }
    .blog__hero-text {
        font-size: 75%;
    }

    .blog__index {
        grid-template-columns: repeat(2, 1fr);
    }
    .commments__grid, .reply__grid {
        grid-template-columns: 30% 70%;
    }
    .comments__entry__author {
        grid-row:1;
        /* flex-flow: row; */
    }
   .comments__entry__author img {
       width: 5em;
   }
    .comments__entry__body {
        grid-column: 2;
        grid-row: 1;
    }
    .comments__buttons {
        grid-column:2;
        grid-row: 2;
    }
}

@media (-webkit-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width: 400px) {
    .blog__hero-img {
        height:100px;
    }
    .comments__entry__author img {
        width: 4em;
    }
    .comments__replyTo {
        font-size: .9em;
    }
    .comment__reply__textArea {
        font-size: 1em;
    }
    .blog__index {
        grid-template-columns: 1fr;
    }
}
/* * { 
    outline: 1px solid red;
    opacity: 1 !important;
    visibility: visible !important;
} */