
.control-panel {
    display:flex;
    flex-flow:column;
    margin-left: 2%;
    margin-right: 2%;
}
.profile__header > h1{
    /* font-family: 'Megrim', cursive; */
    font-size: 1.5em;
}

.control-panel__sidebar{
    display:flex;
    flex-flow: column;
}
.profile-pic {
    margin: 0 auto;
}
.profile-pic__selector {
    margin: 0 auto;
}
.profile-pic > img {
    height: 200px;
   
}
.profile__btn {
    background-image: linear-gradient(to bottom, white, #bac9d1);
    font-family: 'Megrim', cursive;
    font-weight: bold;
    font-size: 1.35em;
    cursor: pointer;
    display: inline-block;
    
}

.profile__btn:hover {
    border: 1px solid rgb(37, 171, 180);
}

.profile__btn:active {
    background-image: linear-gradient(to top, white, #bac9d1);
    font-size: 1.5em;
    font-weight: normal;
}

.profile__btn--browse {
    padding: 2%;
   border-right:2px solid #8e9394;
   border-bottom: 2px solid #8e9394;
   border-left: 2px solid white;
   border-top: 2px solid white;
}
.profile__btn--browse:hover{
    outline-style:none;
}

.profile-pic__buttons > .profile__btn {
    float:right;
    margin-right: 4%;
    margin-bottom: 4%;
}
/* .profile-pic__btn--upload {
    float:right;
    margin-right: 2%;
} */
.utility span {
    float:right;
    cursor: pointer;
    margin-right: 1%;
}
.accounts {
    
}
.hidden {
    display:none;
}
.blog-posts--show span{
    float:right;
    cursor: pointer;
    margin-right:1%;
}

.comments--show span {
    float: right;
    cursor: pointer;
    margin-right: 1%;
}
/* 5 columns plus one for functions */
.blog__table, .comment__table {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 2%;
    grid-row-gap: 5%;
    margin-left:2%;
    margin-bottom: 5%;
}

.table__header {
    display:flex;
    flex-flow: column;
    background-color: #69838b;
    font-family: 'Megrim', cursive;
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    text-align:center;
    
}
.table__data {
    background-color: rgb(233, 240, 239);
    color: #4d4d4d;
    font-family: 'IBM Mono', monospace;
    font-weight: normal;
    font-size: 1em;
    height: 100%;
    /* margin-top: 1%; */
}
.header--1 {
    grid-column: 1;
}

.header--2 {
    grid-column: 2;
}

.header--3 {
  display:none;
}

.header--4 {
   grid-column: 3;
}

.header--5 {
   display: none;
}

.header--6 {
   grid-column: 1/4;
   /* grid-row:2; */


}
.maintenance {
  padding-bottom: 2%;
}