

.control-panel {
    /* padding-top: 10em; */
    display: grid;
    grid-template-columns: 20% auto;
    /* padding: 1em; */
    grid-gap: 1em;
    /* align-items: center; */
    padding-left: 20em;
    padding-right: 20em;
    color: #4d4d4d;
    
    
}
.control-panel__main {
    
}

.blog__table {
    display: none;
    /* border-right: 1px solid black; */
    /* border-bottom: 1px solid-black; */
    box-shadow: 1px 1px 1px 1px #4d4d4d;
}


.table__header > th {
    color: #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    font-family: 'Megrim', cursive;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

.table__entry > td {
    font-size: 15px;
    padding: 10px;
}
.table__entry:nth-child(even) {
    background-color: #e3e5e8;
    /* border-right: 1px solid #5c73a5; */
    
}



.table__entry:nth-child(odd) {
    background-color: rgb(183, 201, 204);;

}

.profile-pic__img {
    max-width: 200px;
    /* border: 1px solid red; */
}

.comment__table {
    display: none;
    box-shadow: 1px 1px 1px 1px #4d4d4d;
}
/* .user__table {
    display: none;
} */
.users {
    display:none;
}
.user__form--hidden {
    display: none
}
.user_table {
    box-shadow: 1px 1px 1px 1px #4d4d4d;
    margin-bottom: 25px;
    padding-bottom: 20px;
}
.fa-plus, .fa-minus {
    float: right;
}
.table__user {
    background-color: #e3e5e8;
}
table {
padding-bottom: 25px;
}
.user__form {
    /* padding-bottom: 25%; */
    margin-bottom: 20px;
}
.user__btn {
    margin: 10px;
    padding: 10px;
    display:inline-block;
    background-color: #e3e5e8;
    border: white;
    box-shadow: 1px 1px 1px 1px #4d4d4d;
    cursor: pointer;
}

.user__btn:active {
    background-color: white;
    border: 1px solid black;
}

.profile-pic {
    background-image: url('../img/blur-purp-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 1px 15px 1px #9392a0;
    
   
  }
